.form-column
  %h2 Create Item
  = form_tag import_items_path, multipart: true do

    = hidden_field_tag "item", @item.id

    = label_tag :title
    = text_field_tag :title

    = label_tag :explicit
    = text_field_tag :explicit

    = label_tag :description
    = text_area_tag :description

    = label_tag :subtitle
    = text_field_tag :subtitle

    = label_tag :category
    = text_field_tag :category

    = label_tag :summary
    = text_area_tag :summary

    = label_tag :pubDate
    = date_field_tag :pubDate

    = label_tag :file_location
    = text_field_tag :file_location

    = label_tag :media
    = file_field_tag :media

    = label_tag :xml
    = file_field_tag :xml

    = submit_tag "Import"
