.form-column
  %h2 Create Item
  = form_tag import_items_path, multipart: true do

    = hidden_field_tag "item", @item.id

    = label_tag :title
    = text_field_tag :title

    = label_tag :subtitle
    = text_field_tag :subtitle

    = label_tag :category
    = text_field_tag :category

    = label_tag "Date (YYYY-MM-DD)"
    = datetime_field_tag :pubDate, nil ,:placeholder => "YYYY-MM-DD"

    = label_tag :file_location
    = text_field_tag :file_location

    = label_tag :audio, "Audio File"
    = file_field_tag :audio

    = label_tag :xml, "Rss XML File"
    = file_field_tag :xml

    = submit_tag "Import"
