%h2 Create Item
= form_tag import_items_path, multipart: true do

  = label_tag :title
  = text_field_tag :title

  = label_tag :author
  = text_field_tag :author

  = label_tag :description
  = text_area_tag :description

  = label_tag :subtitle
  = text_field_tag :subtitle

  = label_tag :summary
  = text_area_tag :summary

  = label_tag :pubDate
  = text_field_tag :putDate

  = label_tag :media
  = file_field_tag :media

  = label_tag :xml
  = file_field_tag :xml

  = submit_tag "Import"
