!!!
%html
  %head
    %title Podcast
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    %header.navigation
      .navigation-wrapper
        %a.logo{:href => "javascript:void(0)"}
          %i.fa.fa-beer.fa-3x
        .nav
          %ul#navigation-menu
            -if !@item.nil? && !current_user.nil?
              %li.nav-link
                =link_to "#{@item.title}", item_path(@item)
              %li.nav-link
                =link_to "Create Post", add_item_items_path(id: @item)
              %li.nav-link
                =link_to "Edit Podcast", edit_item_path(@item)
            -if !current_user.nil?
              %li.nav-link
                =link_to "New Podcast", new_item_path
              %li.nav-link.more
                %a{:href => "javascript:void(0)"} Podcasts
                %ul.submenu
                  - current_user.items.each do |item|
                    -if !item.id.nil?
                      %li
                        =link_to "#{item.title}", item_path(item)
        -if current_user
          =link_to "Sign Out", destroy_user_session_path, :class => "sign-up", method: :delete
        -else
          =link_to "Sign In", new_user_session_path, :class => "sign-up"
    .container
      = yield
